.outerdiv{
    
    /* height: 500px;
    width: 500px; */
margin-top: 200px;
/* margin-left: 50%; */
text-align: center;

}

.outerdiv2{
    /* display: none; */
    /* height: 500px;
    width: 500px; */
margin-top: 200px;
/* margin-left: 50%; */
text-align: center;

}

/* .hide{
    display:;
} */

.btnfv1{ 
    width:  300px;
    height: 40px;
    border: 1px solid red;
    margin: 5px;
    background-color: white;
    border-radius: 8px;
    padding: 5px;
    color: rgb(214, 31, 31);
    font-weight: 600;
    
}

.divforbtstrp{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
}

.btnfv2{ 
    width:  300px;
    height: 40px;
    border: 1px solid red;
    margin: 5px;
    background-color: red;
    border-radius: 8px;
    padding: 5px;
    color: white(214, 31, 31);
    font-weight: 600;
    
}


.signdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
}

.fvh2{
    color: red;
    font-weight: 600;
    font-size: x-large;
    float: left;
}
.signinput{
    height: 40px;
    margin: 8px;
    width: 300px;
    border: 1px solid grey;
    border-radius: 8px;
}
